body {
  font-family: Arial, sans-serif;
  text-align: center;
  }    
h1 {
  text-align: center;
  margin-top: 50px;
  }  
#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
  }
#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  }    
button:active {
  background-color: #e0e4e4;
  color: #000000;
  transform: scale(0.95);
  } 
button:disabled {
  background-color: rgb(119, 118, 118);
  color: black;
  } 
.letter {
  border: 1px solid rgb(255, 255, 255);
  color: white;
  padding: 3px;
  margin: 3px;
  min-width: 45px;
  min-height: 20px;
  text-align: center;
  display: inline-block
  } 
.row{
  margin-bottom: 10px;
  }
.input-area{
  margin: 30px;
  }